body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#start-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#game-container {
    display: none; /* Verbergen standaard */
    position: relative;
    width: 100vw;
    height: 100vh;
}

#play-area {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: lightblue;
}

#ball {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.goal {
    width: 30px;
    height: 30px;
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}
